@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer 
@using GrowthDiary.Common
@model Post
@{
}

@{
    var rand = new Random();
    var colors = new string[] { "bg-primary text-light", "bg-secondary text-light", "bg-success text-light", "bg-danger text-light",
    "bg-warning text-dark","bg-info text-dark","bg-light text-dark","bg-dark text-light"};
}

<div>
    <div style="position: relative;">
        <div>
            @if (Model.PostTags != null)
            {
                @foreach (var tag in Model.PostTags)
                {
                    <span class="badge rounded-pill @colors[rand.Next(colors.Length)]">@tag.Tag.Name</span>
                }
            }
        </div>

        <hr />

        <div>@Html.DisplayFor(modelItem => Model.Content)</div>
        <hr />


        <div>
            @foreach (var image in Model.Images)
            {
                <img src="@image.Url" height="100" />
            }
        </div>

        <div class="mb-3">
            <small>
                @Html.DisplayFor(modelItem => Model.CreationTime)
                @Localizer["(Updated at {0})", Model.LastModifiedTime]
            </small>
        </div>

        <div class="mb-1">
            @if (Model.Comments > 1)
            {
                @Localizer["{0} Comments", Model.Comments]
            }
            else
            {
                @Localizer["{0} Comment", Model.Comments]
            }
        </div>

        
        <div class="list-group mb-2">
            @foreach (var comment in Model.PostComments)
            {
                <div class="list-group-item">
                    <p>@comment.Contents</p>
                    <small>@comment.CreationTime</small>
                </div>
            }
        </div>

        <form asp-controller="Posts" asp-action="Comment" id="form-create-comment">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <textarea name="Contents" class="form-control" placeholder="enter comment..."></textarea>
                @*<span asp-validation-for="Contents" class="text-danger"></span>*@
            </div>
                    @*<a class="btn btn-warning" id="btn-upload-image">@Localizer["Upload Image"]</a>*@
                    <input type="submit" value="Add Comment" class="btn btn-primary" />
              
        </form>


        @*

        <form asp-controller="Posts" asp-action="Create" id="form-create-post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <a class="btn btn-warning" id="btn-upload-image">@Localizer["Upload Image"]</a>
                    <input type="file" multiple accept="images/*" hidden id="files" name="files" />
                </div>
                <div class="col-auto">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            <div id="div-images" class="d-flex flex-wrap justify-content-start">

            </div>
            @Html.HiddenFor(m => m.InReplyToId)
        </form>
        *@



    </div>
                @*<form class="form-inline" asp-action="Delete" asp-controller="Posts" method="post" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-outline-danger">@Localizer["Delete"]</button>
                </form>*@
<div class="mt-2">
    <a class="btn btn-outline-secondary" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
    <a class="btn btn-outline-danger ml-2" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>

</div>
