@model GrowthDiary.ViewModels.EditPostInputModel

@{
    ViewData["Title"] = "Edit";
}

@{
    var rand = new Random();
    var colors = new string[] { "bg-primary text-light", "bg-secondary text-light", "bg-success text-light", "bg-danger text-light",
    "bg-warning text-dark","bg-info text-dark","bg-light text-dark","bg-dark text-light"};
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="form-edit-post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control">@Model.Content</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div id="div-tag">
                @foreach (var tag in Model.Tags)
                {
                    <span class="mr-1 mb-3 badge @colors[rand.Next(colors.Length)]">
                        @tag
                        <a href="#" class="text-decoration-none link-remove-tag">×</a>
                        <input name="Tags[]" value="@tag" class="input-tag" hidden />
                    </span>
                }
            </div>
            <div>
                @foreach (var url in Model.ImageUrls)
                {
                <div class="post-image-container">
                    <img src="@url" height="100px"  class="post-image" style="width:100%" />
                    <div class="post-image-middle">
                        <button class="btn btn-danger btn-remove-image post-image-text" data-image-url="@url">Remove</button>
                    </div>
                    @*<button class="btn btn-danger btn-remove-image" data-image-url="@url">Remove</button>*@
                </div>
                }
            </div>


            <div class="input-group mb-3">
                <input type="text" name="input-tag" id="input-tag" class="form-control" />
                <button class="btn btn-info" id="btn-add-tag">Add Tag</button>
            </div>

            <div class="form-group">
                <button id="btn-upload-image" class="btn btn-warning">Upload Image</button>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div id="div-images"></div>
            <div id="hidden-fields">
                <input type="file" multiple accept="images/*" hidden id="files" name="files" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/edit-post.js"></script>
}

@section Styles{ 
<link rel="stylesheet" href="~/css/edit-post.css" />
}
